body{
    color: white;
    background-color: #003e1f;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#main {
    background-color: #d90429;
    border-color: white;
    border-width: 0.1em;
    border-style: solid;
    padding: 2em;
    border-radius: 1em;
}

p {
    font-size: larger;
}